<apex:page standardController="Sales_Request__c" extensions="extDisplayResponseLineItems" sidebar="false" showHeader="false" id="myPage">
    <style>
        /* This is for the full screen DIV */
        .popupBackground {
            /* Background color */
            background-color:black;
            opacity: 0.20;
            filter: alpha(opacity = 20);
        
            /* Dimensions */
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 998;
            position: absolute;
            
            /* Mouse */
            cursor:wait;
        }
     
        /* This is for the message DIV */
        .PopupPanel {
            /* Background color */
            border: solid 1px black;
            background-color: white;
     
            /* Dimensions */
            left: 50%;
            width: 200px;
            margin-left: -100px;
            top: 50%;
            height: 50px;
            margin-top: -25px;
            z-index: 999;
            position: fixed;
            
            /* Mouse */
            cursor:pointer;
        }     
    </style>
    
    <apex:pageMessages id="errorMessageId"/>
    <apex:outputPanel layout="block" style="overflow:auto;width:1200px;" id="outerPanel" >
    <apex:form id="myform">
        
       <apex:actionFunction name="refreshpage" action="{!refreshLineItem}"/>   
        
        <apex:actionStatus startText="" id="deletingStatus">
            <apex:facet name="start">
                <div>
                    <div class="popupBackground"/>
                    <div class="PopupPanel">
                        <table border="0" width="100%" height="100%">
                            <tr>
                                <td align="center"><b>Please Wait</b></td>
                            </tr>
                            <tr>
                                <td align="center"><img src="/img/loading.gif" alt="Loading graphic"/></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </apex:facet>
        </apex:actionStatus>
            
           <apex:actionFunction name="deleteActionFun" action="{!DeleteRec}" reRender="none" status="deletingStatus">
               <apex:param name="idToBeDeleted" value="{!}" assignTo="{!idToBeDeleted}"/> 
           </apex:actionFunction>         
            
            <apex:pageBlock id="myPageBlock">
                
                <apex:pageblockButtons location="top">
                    <apex:commandButton value="iDeal Lead Form" onclick="generateLeadForm(); return false" id="iDealLeadButtonId"/>    
                    <apex:commandButton value="iDeal Upload" reRender="none" onclick="openVfpage();" id="iDealUploadButtonId"/>
                    <apex:commandButton value="Save" action="{!saverec}" id="inlineSaveButton"/>
                    <apex:commandButton value="Cancel" onclick="window.top.location= '/' + '{!idfromController}'; return false" id="inlineCancelButton"/>
                    <apex:commandButton value="Manual Entry" onclick="openNewPage(); return false" id="manualEntryButton"/>
                </apex:pageblockButtons>                
                
                <apex:pageBlockTable value="{!listOfWrapper}" var="liw" rules="rows" id="myTable">
                    
                    <apex:column headerValue="Action" width="6%" id="myColumn1">
                        <apex:outputPanel id="myOp1">
                           <apex:commandLink value="Edit" style="font-weight: bold; font-family: 'Arial','Helvetica',sans-serif; font-size: 100%; color: #015ba7; font-weight: normal; text-decoration: none;" rendered="{!!liw.rli.iDeal_Flag__c}" id="editLinkId" onclick="editPageOpen('{!liw.rli.Id}')" rerender="none"/>
                               <apex:outputText value=" | " rendered="{!!liw.rli.iDeal_Flag__c}" />
                           <apex:commandLink value="Del" style="font-weight: bold; font-family: 'Arial','Helvetica',sans-serif; font-size: 100%; color: #015ba7; font-weight: normal; text-decoration: none;" onclick="showConfirmBox('{!liw.rli.Id}')" reRender="none" oncomplete="window.top.location= '/' + '{!idfromController}'; return false" id="deleteLinkId"/>
                        </apex:outputPanel>
                    </apex:column>
                    
                    <apex:column id="myColumn2" width="10%">
                        <apex:facet name="header">Line Item #</apex:facet>
                         <!-- <a href="/apex/ResponseLineItemDetail?id={!liw.rli.Id}" target="_blank">{!liw.rli.Name}</a>   -->
                           <a href="{!$Page.ResponseLineItemDetail}?id={!liw.rli.Id}" target="_blank">{!liw.rli.Name}</a>   
                    </apex:column>
                    
                    <apex:column headerValue="{!$ObjectType.Response_Line_Item__c.Fields.Iteration_Id__c.Label}" id="iterationId">
                        <div style="text-align:center;">
                            <apex:outputText value="{!liw.rli.Iteration_Id__c}" id="myOutFieldIterationId"/>
                        </div>
                    </apex:column>
                    
                    <apex:column id="myColumn3">
                        <apex:facet name="header">iDeal Run Name</apex:facet>                            
                             <apex:outputField value="{!liw.rli.iDealRunName__c}" id="myOutField3">
                                 <apex:inlineEditSupport showOnEdit="inlineSaveButton, inlineCancelButton" hideOnEdit="iDealLeadButtonId, iDealUploadButtonId, manualEntryButton" event="ondblclick"/>
                             </apex:outputField>                            
                    </apex:column>
                    
                    <apex:column id="myColumn4">
                        <apex:facet name="header">TG2</apex:facet>               
                        <apex:outputField value="{!liw.rli.TG2__c}" id="myOutField4">   
                            <apex:inlineEditSupport showOnEdit="inlineSaveButton, inlineCancelButton" hideOnEdit="iDealLeadButtonId, iDealUploadButtonId, manualEntryButton" event="ondblclick"/>                         
                        </apex:outputField>
                    </apex:column>
                    
                    <apex:column id="myColumn5">
                        <apex:facet name="header">Approved</apex:facet>
                        <apex:outputField value="{!liw.rli.Approved__c}" id="myOutField5">  
                            <apex:inlineEditSupport showOnEdit="inlineSaveButton, inlineCancelButton" hideOnEdit="iDealLeadButtonId, iDealUploadButtonId, manualEntryButton" event="ondblclick"/>                                                   
                        </apex:outputField>
                    </apex:column>                    
                    
                   <apex:column headerValue="Total Sales ($ US)" id="myColumn6">
                       <!-- Modified on 25th June'15 for JIRA 433 ->
                       <!-- <apex:outputText value="{!liw.rli.SalesTotal__c}" id="myOutField6"/>-->
                       <apex:outputField value="{!liw.rli.SalesTotal__c}" id="myOutField6"/>
                    </apex:column>   
                    
                       <apex:column headerValue="CM%" id="myColumn7">
                        <apex:outputText value="{!liw.rli.ContributionMarginTotalPER__c}" id="myOutField7"/>
                    </apex:column>
                    
                    <apex:column headerValue="{!$ObjectType.Response_Line_Item__c.Fields.TotalCost__c.Label}" id="myColumn8">
                        <!-- Modified on 25th June'15 for JIRA 433 ->
                        <!-- <apex:outputText value="{!liw.rli.TotalCost__c}" id="myOutField8"/>-->
                        <apex:outputField value="{!liw.rli.TotalCost__c}" id="myOutField8"/>
                    </apex:column>       
                    
                    <apex:column value="{!liw.rli.iDeal_Flag__c}" rendered="{!liw.rli.iDeal_Flag__c != null}" id="myColumn9"/>
                    
                    <apex:column headerValue="{!$ObjectType.Response_Line_Item__c.Fields.iDeal_Flag__c.Label}" rendered="{!liw.rli.iDeal_Flag__c == null}"  id="myColumn10">
                        <apex:outputText value="{!liw.rli.iDeal_Flag__c}" id="myOutField10"/>
                    </apex:column>
                    
                   <apex:column id="myColumn11">
                        <apex:facet name="header">Type</apex:facet>
                        <apex:outputField value="{!liw.rli.Type__c}" id="myOutField11">                           
                            <apex:inlineEditSupport showOnEdit="inlineSaveButton, inlineCancelButton" hideOnEdit="iDealLeadButtonId, iDealUploadButtonId, manualEntryButton" event="ondblclick"/>                         
                        </apex:outputField>
                    </apex:column>
                    
                    <apex:column id="myColumn12">
                        <apex:facet name="header">Comments</apex:facet>
                        <apex:outputField value="{!liw.rli.Comments__c}" id="myOutField12"> 
                            <apex:inlineEditSupport showOnEdit="inlineSaveButton, inlineCancelButton" hideOnEdit="iDealLeadButtonId, iDealUploadButtonId, manualEntryButton" event="ondblclick"/>                                                    
                        </apex:outputField>
                    </apex:column>
                    
                    <apex:column id="myColumn13">
                        <apex:facet name="header">CreatedDate</apex:facet>
                        <apex:outputField value="{!liw.rli.CreatedDate}" id="myOutField13"/>
                    </apex:column>
                    
                    <apex:column id="myColumn14">
                        <apex:facet name="header">Uploaded By</apex:facet>
                        <a href="/{!liw.rli.CreatedById}" target="_blank">{!liw.rli.CreatedBy.Name}</a>
                  <!--  <apex:outputField value="{!liw.rli.CreatedBy.Name}" id="myOutField14"/>  -->
                    </apex:column>
                    
                </apex:pageBlockTable>
            </apex:pageBlock>       
        </apex:form>
    </apex:outputPanel>   
    
    <html>
        <head>
            <script>          
                var allInputTags = document.getElementsByTagName('input');
                for(var i = 0; i < allInputTags.length; i++) {
                    if(allInputTags[i].id.indexOf('inlineSaveButton') > -1 || allInputTags[i].id.indexOf('inlineCancelButton') > -1) {
                        allInputTags[i].style.display = "none";
                    }               
                }
                         
                function showConfirmBox(elem) {                        
                    var r = confirm("Are you sure you want to delete this Response line item");
                    if(r == true) {
                        deleteActionFun(elem); 
                        return true;    
                    }            
                }
                
                function openVfpage() {            
                    var w = 500; 
                    var h = 500; 
                    var left = (screen.width/2)-(w/2);
                    var top  = (screen.height/2)-(h/2);               
                    var parentId = '{!idfromController}';
                    var myurl = "/apex/iDealUploadAttach?respId=" + parentId; 
                    window.open(myurl, 'windowName', 'scrollbars=1, resizable=1, height=200px, width=600px, top='+top+', left='+left);
                }
        
                function generateLeadForm() {
                    var parentId = '{!idfromController}';
                    var myurl = "/apex/ResponseLF_CSV?id="+parentId; 
                    window.open(myurl);
                }
                
                function openNewPage() {
                    var identity = 'new';                      
                    var parentId = '{!idfromController}';
                    var myurl = "/apex/ResponseLineItemDetail?identifier="+identity+"&respId="+parentId; 
                    window.open(myurl);             
                } 
                
                function editPageOpen(elem) {
                    var identity = 'edit';  
                    var myurl = "/apex/ResponseLineItemDetail?id="+elem+"&identifier="+identity;   
                    window.open(myurl);             
                }
                
                function refreshParent() {
               //  window.top.location.href= '/' + elem;
                    
                   document.getElementById('myPage:outerPanel').scrollIntoView();
                   refreshpage();
                } 
            </script>    
        </head>    
    </html>
</apex:page>