<apex:page standardController="lead">
  <apex:iframe src="https://sfdcintegration.influitive.com/corporate/sfdc/contacts/{!Lead.Id}?contact[email]={!URLENCODE(Lead.Email)}&contact[salesforce_id]={!Lead.Id}&contact[name]={!URLENCODE(Lead.Name)}&contact[title]={!URLENCODE(Lead.Title)}&salesforce_org_id={!$Organization.Id}&owner_id={!$User.Id}&session_id={!$Api.Session_ID}&api_partner_server_url={!$Api.Partner_Server_URL_90}&sfdc_contact_type=Lead" id="nominate" />
</apex:page>